{% extends "base.html" %}

{% block app_content %}
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.fusername.label }}<br>
            {{ form.fusername(size=32) }}<br>
            {% for error in form.fusername.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.femail.label }}<br>
            {{ form.femail(size=32) }}<br>
            {% for error in form.femail.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.fpassword.label }}<br>
            {{ form.fpassword(size=32) }}<br>
            {% for error in form.fpassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.fpassword2.label }}<br>
            {{ form.fpassword2(size=32) }}<br>
            {% for error in form.fpassword2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}